.container {
  padding: 0 40px;
}

.space {
  margin-bottom: 40px;
}

.flex {
  display: flex;
}

.align-right {
  text-align: right!important;
}

.click-table tbody tr {
  cursor: pointer;
}

.md-table .md-table-cell .md-table-cell-container {
  word-break: break-word;
}
